/* horizontalScroll.css */

.horizontal-scroll-container {
  display: flex;
  align-items: center;
  /* padding: 10px 0; */
  background-color: #f9f9f9;
  border-radius: 8px;
  overflow: hidden;
  margin-left: 650px;
}

.scroll-row {
  display: flex;
  flex-direction: row;
  overflow-x: hidden; /* Hide native scrolling */
  margin: 0 10px; /* Spacing between arrows and content */
}

.scroll-item {
  border: 1px solid rgb(235, 232, 232);
  display: flex;
  flex-direction: column;
  align-items: center;

  text-align: center;
  background-color: #fff;
  transition: background-color 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.scroll-item:hover {
  background-color: #404040; /* Change to a light gray on hover */
  color: #ccc;
}

.amount {
  font-weight: bold;
  font-size: 16px;
  margin-right: 10px;
  width: 120px;
  height: 30px;
  padding: 5px;
  margin: 5px;
}

.date {
  font-size: 14px;
  color: gray;
  margin: 5px;
}

/* Styling for the arrows */
.scroll-arrow {
  background-color: #ddd;
  border: none;
  padding: 10px;
  font-size: 18px;
  cursor: pointer;
  border-radius: 50%;
  transition: background-color 0.3s ease;
}

.scroll-arrow:hover {
  background-color: #ccc;
}

.left {
  margin-right: 10px;
}

.right {
  margin-left: 10px;
}
