.account-details {
  background-color: #3cb4e0;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  height: 180px;
  width: 620px;
  /* height: 800px; */
  color: aliceblue;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Vertically center the content */
  align-items: center; /* Horizontally center the content */
  text-align: center; /* Optional: Center text if necessary */
  margin: 50px;
}

.details-col {
  display: flex;
  flex-direction: column;
}

.details-col h4 {
  margin-bottom: 5px;
  font-size: 14px;
  color: #555;
}

.details-col p {
  justify-content: left;
  font-size: 16px;
  color: #333;
}

.details-container {
  display: flex;
  border: 1px solid;
  gap: 10px;
  width: 100%;
  color: #000;
  margin-top: 40px;
  height: 40%;
  justify-content: space-between;
  background-color: aliceblue;
}
.date {
  color: #b8b6b6;
  font-size: 20px;
}
p {
  align-items: center;
  margin-top: 20px;
}
.inr {
  align-items: center;
  margin: 10px;
}
