.container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Add this to your App.css or a component-specific CSS file */
button {
  display: inline-block;
  visibility: visible;
  position: relative;
  z-index: 1; /* Ensure it is on top */
}
